<article class="vehicle-card">
  <picture>
    <source media="(min-width: 768px)" [srcset]="desktopImgSrc">
    <img [src]="mobileImgSrc" [attr.alt]="vehicle.name">
  </picture>
  <div class="vehicle-card__info">
    <h4 class="vehicle-card__name">{{ vehicle.name }}</h4>
    @if (vehicle.price) {
    <p class="vehicle-card__price">From {{ vehicle.price }}</p>
    }
    <p class="vehicle-card__description">{{ vehicle.description }}</p>
    <div class="vehicle-card__cta">
      <button type="button" (click)="openDetails()">More details</button>
    </div>
  </div>
</article>